* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: monospace;
}

.main-wrapper {
  display: flex;
  background-color: #f5f5f7;
}

section {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 2;
  color: #000;
  font-size: 20px;
}
.count {
  position: absolute;
  flex: 2;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 1000%);
  line-height: 1;
  padding: 0 1rem;
}
.copy {
  flex: 6;
  /* font-size: 16px; */
  text-align: center;
  color: #000;
  /* text-transform: uppercase; */
  line-height: 1;
}
.ml16 {
  font-family: "Solenoidal";
  font-size: 30px;
  font-weight: 100;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
.loader-bg {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1600871214959-4078cf5ee7f8?q=80&w=2827&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.site-content {
  position: absolute;
  z-index: -2;
}

nav {
  width: 100%;
  padding: 2em;
  display: flex;
}
a {
  text-decoration: none;
  color: #000;
}

nav > div {
  float: 1;
}

.links {
  display: flex;
  justify-content: center;
  gap: 5em;
  padding-left: 3rem;
}
.header {
  display: flex;
  /* padding: 2em; */
}

.header h1 {
  left: 10%;
  float: 1;
  position: absolute;
  font-family: "Amoret Script";
  font-size: 20vw;
  font-weight: 100;
  /* text-transform: uppercase; */
  line-height: 1;
  text-align: center;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 2em;
}
.footer > div {
  float: 1;
}

.footer-copy p {
  width: 50%;
}

.footer-nav {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
}
.img {
  width: 225px;
  height: 150px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.img:nth-child(1) {
  background-image: url("https://i.pinimg.com/control/564x/01/24/73/01247305bd1f1dd27f1b24cdf78ac61a.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img:nth-child(2) {
  background-image: url("https://i.pinimg.com/564x/14/5b/e4/145be422a367397f045de1d919e2f04e.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img:nth-child(3) {
  background-image: url("https://i.pinimg.com/control/564x/bf/da/b2/bfdab2ecd0d338903a3c75d3e1cc1934.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 {
  font-family: "Evafiya";
  overflow: hidden;
}
.sec2-spline {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}
.section-3 {
  background-color: rgba(0, 0, 174, 0.673);
}

.section-4 {
  background-color: rgb(255, 179, 0);
}
